.steps-page__personal-detail
  padding-top: 50px
  padding-bottom: 30px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly
  border-bottom: 2px solid #ececec
  border-top: 2px solid #ececec

.steps-page__personal-detail-left
  padding-left: 50px

.steps-page__personal-detail-left
    padding-right: 50px

.steps-page__personal-detail-box
  margin-bottom: 20px
  display: flex
  flex-direction: row

.steps-page__personal-detail-title
  color: #8b8b8b
  margin-right: 20px
  font-weight: 600

.steps-page__personal-detail-text
  font-weight: 500
  font-size: 16px
  line-height: (19 / 16)

