.dash {

  &-main {
    padding-left 210px
    padding-top 200px

    @media(min-width 769px) {
      padding-top 0px
    }

    @media(min-width 993px) {
      padding-left 250px
    }
  }

  &-inner {
    margin 20px 47px
    background-color #fff
  }
}

.vx-tooltip-portal {
  white-space pre-line
  text-align right
  line-height 5
  font-size 30px
}

a.active {
  // color: #36436b
}
a {
  text-decoration none
}
