@import "../../../../style/_variables.styl"

.steps-page__personal-detail.steps-page__personal-detail--step-4
  padding-top: 50px
  padding-bottom: 30px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly
  border-top: none
  border-bottom: none

.steps-page__personal-detail-left
  padding-left: 50px
  padding-right: 50px

.steps-page__personal-detail-left--no-pl
  padding-left: 0
  padding-right: 100px


.steps-page__personal-detail-box
  margin-bottom: 20px
  display: flex
  flex-direction: row
  align-items: flex-end

.steps-page__personal-detail-box--bordered
  padding: 25px
  border-radius: 8px
  border: 2px solid #c4c4c4

.steps-page__personal-detail-title
  color: #8b8b8b
  margin-right: 20px
  font-weight: 600

.steps-page__personal-detail-text
  font-weight: 500
  font-size: 16px
  line-height: (19 / 16)

.steps-page__personal-detail-text--big
  color: blue
  font-size: 24px
  line-height: (28 / 24)

