html
  box-sizing: border-box

*
::before
::after
  box-sizing: inherit

body
  margin: 0
  background-color: #f5f5f7
  background-image: url(../assets/images/app-background.png)
  background-position: 50% 0
  background-repeat: repeat

img
  display: block
  max-width: 100%
  height: auto