@import "_variables.styl"

html
  font-family: font-family-raleway
  font-size: font-size-base
  line-height: line-height-base
  font-weight: 400

.page-footer-text
  color: color-text-light
  font-weight: 600
  line-height: (16 / 14)

.text-separator
  position: relative
  display: inline-block
  padding-left: 11px
  vertical-align: middle

  &::before
    content: "|"
    position: absolute
    top: 0
    right: -7px

  &:last-child::before
    display: none
