.media-player__btn-box-fullscreen {
  margin-left: auto;
}

.media-player__btn-fullscreen-icon-box {
  position: relative;
  width: inherit;
  height: inherit;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 30px;
    height: 30px;
  }
}
