@import "../../style/_variables.styl"
@import "../../style/_mixins.index.styl"

.progress-bar-circle
  position: relative
  width: 100px
  height: 100px

  svg
    stroke-width: 10px

.progress-bar-circle__first
  transition: all 1s
  stroke: #f7f7f7

.progress-bar-circle__second
  stroke: green

.progress-bar-circle__percent
  center-element()
  font-size: 24px
  line-height: (39 / 24)