.media-player__btn-box {
  width: 36px;
  height: 36px;
}

.media-player__btn {
  display: block;
  width: 100%;
  height: 100%;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  outline: none;
}

.media-player__btn-icon-box {
  position: relative;
  display: block;
  width: inherit;
  height: inherit;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 30px;
    height: 30px;
  }
}
