@import "../../style/_variables.styl"
@import "../../style/_mixins.index.styl"

.lang-switch__label
  text-transform: uppercase

.lang-switch__label--active
  color: green

.lang-switch__button
  visually-hidden()